/*
 *Created by Dyan at 2019/9/25 14:58
 */

.main_container{
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;/*flex容器设置——自动换行*/
    align-content: flex-start;/*取消flex平分容器产生的空白，子块紧贴*/
    padding: 0 4px 4px 0;
}
.main_container > *{
    margin: 4px 0 0 4px;
}
.a1{
    height: 640px;
    width: 75%;
    background-color: deepskyblue;
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;/*flex容器设置——自动换行*/
    align-content: flex-start;/*取消flex平分容器产生的空白，子块紧贴*/
    padding: 0 4px 4px 0;
    overflow-y: scroll;
}
.a1 > *{
    margin: 4px 0 0 4px;
}
.a2{
    /*height: 600px;*/
    width: 23%;
    background-color: blanchedalmond;
    text-align: center;
}
.a2 > *{
    margin-top: 20px;
}
.a2 img{
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}/*img等比缩放*/
.a2_text{
    font-size: 24px;
    font-family: "Microsoft Yahei", serif;
}
.a3{
    height: 240px;
    width: 100%;
    background-color: lightskyblue;
}
.a4{
    height: 32%;
    width: 49.45%;
    background-color: antiquewhite;
}


